<!DOCTYPE html>
<html>

 <head>
     <title>Cadastro de Pessoas</title>
     <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
 </head>
 <body>
     <div class="container">
         <h1 class="display-3">Sistema de Cadastro de Pessoas</h1>
         <hr />
         @RenderBody()
     </div>

 </body>

</html>
